html body #app {
  width: 65vw;
  background: linear-gradient(135deg, #B2BEB5, #708090) !important;
}

#app {
  padding: 10px;
  border-radius: 20px;
  background: linear-gradient(135deg, #B2BEB5, #708090) !important;
  max-height: 90vh; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  position: relative; 
  z-index: 2;
}

img {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Hide scrollbar */
#app::-webkit-scrollbar {
  display: none;
}

.tracing-beam {
  position: absolute;
  top: 0;
  left: 50%; /* Centered beam */
  width: 3px;
  height: 100px; /* Fixed height */
  background: linear-gradient(to bottom, #18ccfc, #6344f5, #ae48ff);
  animation: tracingAnimation 4s linear infinite;
  z-index: 1;
  transform: translateX(-50%); /* Ensures centering */
}

@keyframes tracingAnimation {
  0% {
    top: -100px; /* Starts above the container */
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    top: 100%; /* Moves to the bottom */
    opacity: 0;
  }
}

